{% extends 'base.html' %}

{% block title %}
Створити товар
{% endblock %}

{% block body %}
<h1>Створити товар</h1>
<form id="product-form">
    <input type="text" name="name" id="name" placeholder="Введіть назву товару"><br>
    <input type="number" name="price" id="price" placeholder="Введіть ціну за 1 шт."><br>
    <input type="number" name="quantity" id="quantity" placeholder="Введіть кількість товару">
    <button type="submit">Створити</button>
</form>
<p id="success-create-product"></p>
{% endblock %}

{% block script %}<script src="{{url_for('static', filename='js/create_product.js')}}"></script>{% endblock %}